extends ../layout

block content
  script.
    function login() {
    document.getElementById("login_form").submit();
    }
    window.onload = function start(){
    //allow submitting with enter key - Login Form
    $('#login_form').keydown(function(e) {
    var key = e.which;
    if (key == 13) {
    // As ASCII code for ENTER key is "13"
    document.getElementById("login_form").submit();
    }
    });
    }
  br

  .col-md-6.col-md-offset-3(style='text-align:center;background-color:#f5f5f5;border-radius:15px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.1);')
    h3(style="padding-top:20px;font-weight:500 !important;color:#4f4c52 !important;padding-bottom:10px !important;padding-left:3px;") 
      | Welcome back
    #signup.col-md-6.col-sm-offset-3    
      form.form-horizontal(id="login_form", method='POST')
        input(type='hidden', name='_csrf', value=_csrf)  
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required, style="text-align:center;width:200px !important;display:inline;border-radius:4px;height:43px;margin-left:0px")
        br
        br
        input.form-control(type='password', name='password', id='password', placeholder='Password', required, style="text-align:center;width:200px !important;display:inline;border-radius:4px;height:43px;padding-right:10px")
        br
        br
        #signup_button2.btn.btn-md.btn-hover.btn-default(onclick='login()' style="background-color:#341f97 !important;") 
          | Login
        <br>
        <br>


 
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-115904415-1', 'auto');
        ga('send', 'pageview');
