.navbar.navbar-default
  .container
    if !user
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          | Storyrake
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          //li(class=(title == 'Sponsor') ? 'active' : undefined)
            a(href='/records') Creator? Get sponsored
          //li(class=(title == 'Blog') ? 'active' : undefined)
            a(href='/blog') Blog
          //li(class=(title == 'Sign up') ? 'active' : undefined)
            a(href='/signup') Sign up  
          li(class=(title == 'Log in') ? 'active' : undefined)
            a(href='/login') Log in



    else
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          | Storyrake
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          //li(class=(title == 'Sponsor') ? 'active' : undefined)
            a(href='/records') Creator? Get sponsored
          //li(class=(title == 'Contact') ? 'active' : undefined)
            a(href='/contact') Contact
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              //li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout